<div data-role="page" class="home">
    <h1>Fridge Friends</h1>

    <div data-role="content">
      <form class="login">
        <label for="email">Email:</label>
        <input type="text" name="email" id="textinput-s" placeholder="email" value="" data-clear-btn="true">
        <label for="password">Password:</label>
        <input type="text" name="password" id="password" placeholder="password" value="" data-clear-btn="true">
        <input type="button" id="btn" value="Login">
      </form>

    </div><!-- /content -->

  </div><!-- /page -->

<div id='clearance' class='sign-up'>
  <h2>Sign up</h2>

  <%= form_for @user do |form| %>
    <%= render :partial => '/users/form', :object => form %>

    <div class='submit-field'>
      <%= form.submit %>
    </div>

    <div class='other-links'>
      <%= link_to t('.sign_in'), sign_in_path %>
    </div>
  <% end %>
</div>